Host={{ default (env "HOSTNAME") "Unknown" }}
User={{ env "USER" }}
Path={{ env "PATH" }}
Protocol={{ $url := parseURL "http://www.somesite.com/some/path" }}{{ $url.Scheme }}
WeirdURL={{ replace $url.String "/" "\\" -1 }}
Folder={{ index (split $url.String "/") 4 }}
{{ range $k, $v := filterPrefix envAll "TERM" }}
{{ $k }} => {{ $v }}{{ end }}
